

.ant-table-filter-trigger.active {
    color: #88eaff;
    font-size: 15px;
}

.ant-table-filter-trigger {
    color: white;
    font-size: 14px;
}

.ant-table-thead > tr > th{
    background-color: #00b6de !important;
    color: white !important;
  }

  /* .ant-table-tbody > tr {
      box-shadow: 10px 5px 5px grey;
  } */